productName = "Memospot"
mainBinaryName = "memospot"
identifier = "com.memospot.app"

[build]
beforeBuildCommand = "just tauri-before-build"
beforeBundleCommand = "just tauri-before-bundle"
beforeDevCommand = "just tauri-before-dev"
frontendDist = "../dist-ui"
devUrl = "http://localhost:1420"
runner = "cargo"

[bundle]
active = true
category = "Productivity"
icon = [
    "icons/128x128.png",
    "icons/128x128@2x.png",
    "icons/32x32.png",
    "icons/icon.icns",
    "icons/icon.ico",
]
longDescription = "Memospot is a desktop version of Memos, a beautiful markdown-based note-taking service."
shortDescription = "Memospot - a note-taking application"
targets = "all"
externalBin = ["../server-dist/memos"]
createUpdaterArtifacts = "v1Compatible"

[bundle.windows]
allowDowngrades = true
digestAlgorithm = "sha256"
tsp = false

[bundle.windows.webviewInstallMode]
silent = false
type = "embedBootstrapper"

[bundle.windows.wix]
language = ["en-US"]
template = "../installer/wix.wxs"

[bundle.windows.nsis]
compression = "lzma"
displayLanguageSelector = true
installerIcon = "icons/icon.ico"
installMode = "currentUser"
languages = [
    "Arabic",
    "Dutch",
    "English",
    "French",
    "German",
    "Japanese",
    "Korean",
    "PortugueseBR",
    "SimpChinese",
    "Spanish",
    "TradChinese",
    "Turkish",
]
template = "../installer/nsis.nsi"

[bundle.macOS]
exceptionDomain = "localhost"

[bundle.linux.appimage]
bundleMediaFramework = true

[plugins.updater]
pubkey = "dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDhENDYwRjkzNTkwQzY0NEEKUldSS1pBeFprdzlHalI3YVdINTZURFNUbHZIc3N0Rk40c2tvWDN3MWF2OWdnSHlRMnhjMFVlRGsK"
endpoints = [
    "https://github.com/memospot/memospot/releases/latest/download/latest.json",
]

[plugins.updater.windows]
installerArgs = []
installMode = "passive"

[app]
withGlobalTauri = true

[[app.windows]]
dragDropEnabled = false

[app.security.assetProtocol]
scope = ["**"]
