@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "color-emoji";
    src:
        local("Apple Color Emoji"), local("Twemoji Mozilla"), local("Noto Color Emoji"),
        local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("EmojiOne Color"),
        local("Android Emoji");
}

/*
* https://tailwindcss.com/docs/background-color
* https://hslpicker.com/
* https://nearest-tailwind-color.netlify.app/

cyan-400: 188 85.7% 53.3%;
cyan-600: 192 91.4% 36.5%;
gray-400: 218 10.6% 64.9%;
gray-600: 215 13.8% 34.1%;
gray-700: 217 19.1% 26.7%;
gray-800: 215 27.9% 16.9%;
neutral-800: 0 0% 14.9%;
neutral-900: 0 0% 9%;
orange-600: 14 82% 57%;
red-600: 0 72.2% 50.6%;
teal-600: 175 83.9% 31.6%;
teal-800: 177 74.8% 20.2%;
zinc-50: 0 0% 98%;
zinc-100: 240 4.8% 95.9%;
zinc-200: 240 5.9% 90%;
zinc-700: 240 5% 26%;
zinc-800: 240 3.7% 15.9%;
zinc-900: 240 5.9% 10%;
zinc-950: 240 10% 3.9%;

Memos:
bg-primary-darker: 177 74.8% 20.2%;
*/
@layer base {
    :root {
        --background: 240 4.8% 95.9%;
        --foreground: 215 27.9% 16.9%;

        --muted: 218 10.6% 64.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --border: 220 13% 91%;
        --input: 240 4.8% 95.9%;

        --primary: 192 91.4% 36.5%;
        --primary-foreground: 210 20% 98%;

        --secondary: 0 0% 100%;
        --secondary-foreground: 220.9 39.3% 11%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 210 20% 98%;

        --ring: 224 71.4% 4.1%;

        --glow: #0891b2; /* theme(colors.cyan.600) */
        --glow-error: #991b1b; /* theme(colors.red.800) */

        --radius: 0.4rem;

        font-family:
            -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
            Arial, sans-serif, color-emoji;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    .dark {
        --background: 240 5.9% 10%;
        --foreground: 218 10.6% 64.9%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --popover: 240 3.7% 15.9%;
        --popover-foreground: 210 20% 98%;

        --card: 240 3.7% 15.9%;
        --card-foreground: 218 10.6% 64.9%;

        --border: 240 5% 26%;
        --input-foreground: 212 7.9% 42.2%;
        --input: 240 5.9% 10%;

        --primary: 188 85.7% 53.3%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 218 10.6% 64.9%;

        --accent: 240 5.9% 10%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --ring: 216 12.2% 83.9%;

        --glow: #22d3ee; /* theme(colors.cyan.400) */
        --glow-error: #dc2626; /* theme(colors.red.600) */
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
