@font-face {
    font-family: "color-emoji";
    src: local("Apple Color Emoji"), local("Twemoji Mozilla"), local("Segoe UI Emoji"),
        local("Segoe UI Symbol"), local("Noto Color Emoji"), local("EmojiOne Color"),
        local("Android Emoji");
}

:root {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, color-emoji;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 8em;
    padding: 3.5em;
    will-change: filter;
    transition: 1s;
    image-rendering: smooth;
}

.tauri-msg {
    font-size: 0.9em;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: center;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.waiting-for-server {
    text-align: center;
    min-height: 4em;
}

.tauri-msg {
    min-height: 4em;
    font-size: 1.2em;
    line-height: 4vh;
}

#manual-redirect-btn {
    visibility: hidden;
}

.button.center {
    margin: auto;
}

/* CSS */
.button {
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow:
        rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
    filter: brightness(95%);
}

.button:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
}

.button:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button:focus {
    outline: 1px transparent;
}

.button:before {
    display: none;
}

.button:-webkit-details-marker {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --tw-text-opacity: 1;
        color: rgb(229 231 235 / var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(24 24 27 / var(--tw-bg-opacity));
    }

    a:hover {
        color: #24c8db;
    }

    .logo.memos {
        filter: drop-shadow(0 0 2em #24c8db);
    }

    .logo.memos#error {
        filter: drop-shadow(0 0 2em #ff0000);
    }

    .logo.memos:hover {
        filter: drop-shadow(0 0 2em #ffe21c);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));

        --tw-bg-opacity: 1;
        background-color: rgb(250 250 250 / var(--tw-bg-opacity));
    }

    a:hover {
        color: #535bf2;
    }

    .logo.memos {
        filter: drop-shadow(0 0 2em #22a9b8);
    }

    .logo.memos#error {
        filter: drop-shadow(0 0 2em #ff0000);
    }

    .logo.memos:hover {
        filter: drop-shadow(0 0 2em #f3c705);
    }
}
