name: Build (Release)
on:
  push:
    tags-ignore:
      - "v*.*.*-*"
  workflow_dispatch:
    inputs:
      memos-version:
        description: Memos version to bundle.
        required: false
        type: string

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  CACHE_KEY: NOT_SET
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GLIBC_VERSION: NOT_SET
  MEMOS_VERSION: NOT_SET
  RUST_TARGET: NOT_SET
  RUST_BACKTRACE: short
  RUST_TOOLCHAIN: stable
  RUSTFLAGS: -Copt-level=3 -Cstrip=symbols -Ccodegen-units=1
  APT_DEPS: >-
    build-essential
    curl
    file
    patchelf
    wget
    libayatana-appindicator3-dev
    libgtk-3-dev
    librsvg2-dev
    libssl-dev
    libwebkit2gtk-4.1-dev
    libxdo-dev

jobs:
  publish-release:
    name: Publish
    permissions: { contents: write }
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { runner: macos-15, rust_target: aarch64-apple-darwin }
          - { runner: macos-15-intel, rust_target: x86_64-apple-darwin }
          - { runner: ubuntu-22.04-arm, rust_target: aarch64-linux-gnu-gcc }
          - { runner: ubuntu-22.04, rust_target: x86_64-unknown-linux-gnu }
          - { runner: windows-2022, rust_target: x86_64-pc-windows-msvc }
          - { runner: windows-11-arm, rust_target: aarch64-pc-windows-msvc }

    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: "Set env vars"
        shell: bash
        run: |
          echo "RUST_TARGET=${{ matrix.platform.rust_target }}" >> $GITHUB_ENV
          echo "CACHE_KEY=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "GLIBC_VERSION=$(ldd --version | head -n 1 | awk '{print $NF}')" >> $GITHUB_ENV

      - if: ${{ runner.os == 'Linux' }}
        name: "[Linux] Disable initramfs and man-db update"
        continue-on-error: true
        run: |
          sudo mkdir -p /etc/initramfs-tools/
          echo -e 'update_initramfs=no\nbackup_initramfs=no' | sudo tee /etc/initramfs-tools/update-initramfs.conf
          sudo rm -f /var/lib/man-db/auto-update

      - if: ${{ runner.os == 'Linux'  }}
        name: "[Linux] Install platform dependencies"
        uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05
        with: { packages: "${{env.APT_DEPS}}" }

      - if: ${{ runner.os == 'macOS' }}
        name: "[macOS] Install platform dependencies"
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd
        with: { xcode-version: "latest-stable" }

      - if: ${{ runner.os == 'Linux' }}
        name: "[Linux] Install UPX"
        uses: crazy-max/ghaction-upx@db8cc9515a4a7ea1b312cb82fbeae6d716daf777
        with: { install-only: true }

      - name: Install Just
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb
        with: { tool: just@1.43.0 }

      # Rust
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          targets: ${{ runner.os == 'macOS' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Setup Cargo cache
        uses: swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
        with:
          prefix-key: cargo
          key: ${{ env.GLIBC_VERSION }}
      # /Rust

      # Bun
      - uses: oven-sh/setup-bun@v2
        with: { bun-version: latest }

      - # node_modules is not cached on Windows as it breaks subsequent runs
        if: ${{ runner.os != 'Windows' }}
        name: Cache node_modules
        uses: actions/cache@v4
        with:
          key: node_modules-${{ runner.os }}-${{ hashFiles('**/bun.lock', '**/package.json') }}
          restore-keys: node_modules-${{ runner.os }}
          path: |
            ${{github.workspace}}/node_modules
            ${{github.workspace}}/**/node_modules

      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          key: bundeps-${{ runner.os }}-${{ hashFiles('**/bun.lock', '**/package.json') }}
          restore-keys: bundeps-${{ runner.os }}
          path: ~/.bun
      # /Bun

      - name: Cache Memos builds
        uses: actions/cache@v4
        with:
          key: memosbuilds-${{ runner.os }}-${{ env.CACHE_KEY }}
          restore-keys: memosbuilds-${{ runner.os }}
          path: ./server-dist

      # Allows to bundle a specific Memos version when running the workflow manually.
      - if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.memos-version != ''  }}
        name: Set desired Memos version to ${{ inputs.memos-version }}
        shell: bash
        run: |
          echo "MEMOS_VERSION=${{ inputs.memos-version }}" >> $GITHUB_ENV
      # This is ran before building the Tauri app so that the MEMOS_VERSION
      # is set by the downloadMemos script if it was not set via workflow inputs.
      - name: Download Memos
        run: just download-memos

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@3b50ac4d4512105f96edbaa78a6e2f9392805589
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          tagName: v__VERSION__
          releaseName: "v__VERSION__"
          # This will also show on the updater notes.
          releaseBody: |
            Bundled Memos version: **${{ env.MEMOS_VERSION }}**
            Updating from previous versions is transparent.

            Note for Windows users:
            The auto-updater will use the `exe` installer (per-user install).
            For the MSI package, check the GitHub releases page.
          releaseDraft: true
          prerelease: false
          args: --target ${{ matrix.platform.rust_target }}
          includeUpdaterJson: true
          updaterJsonPreferNsis: true
          retryAttempts: 2
