name: Build (Release)
on:
  push:
    tags-ignore: "v*.*.*-*"
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  CACHE_KEY: ${{ github.run_id }}-${{ github.run_number }}
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  LATEST_MEMOS_VERSION: NOT_SET
  RUST_BACKTRACE: short
  RUST_TOOLCHAIN: stable
  RUSTFLAGS: -Copt-level=3 -Cstrip=symbols -Ccodegen-units=1
  APT_DEPS: >-
    build-essential
    curl
    file
    patchelf
    wget
    libayatana-appindicator3-dev
    libgtk-3-dev
    librsvg2-dev
    libssl-dev
    libwebkit2gtk-4.1-dev
    libxdo-dev

jobs:
  publish-release:
    name: Publish
    permissions: { contents: write }
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { runner: macos-13, rust_target: aarch64-apple-darwin }
          - { runner: macos-13, rust_target: x86_64-apple-darwin }
          - { runner: ubuntu-22.04, rust_target: x86_64-unknown-linux-gnu }
          - { runner: windows-2019, rust_target: x86_64-pc-windows-msvc }

    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Set env vars"
        shell: bash
        run: |
          echo CACHE_KEY=$(date +'%Y%m%d') >> $GITHUB_ENV
          latest_memos_version=$(curl -s "https://api.github.com/repos/memospot/memos-builds/releases/latest" | jq -r '.tag_name' || echo "NOT_SET")
          echo "LATEST_MEMOS_VERSION=$latest_memos_version" >> $GITHUB_ENV
          case "${RUNNER_OS}" in
            Linux)
              NPROC=$(nproc)
              ;;
            macOS)
              NPROC=$(sysctl -n hw.ncpu)
              ;;
            Windows)
              NPROC=$NUMBER_OF_PROCESSORS
              ;;
            *)
              NPROC=2
              ;;
          esac
          if echo "${RUST_TOOLCHAIN}" | grep -q "^nightly"; then
            echo "RUSTFLAGS=${RUSTFLAGS} -Zthreads=${NPROC}" >> $GITHUB_ENV
          fi

      - if: ${{ runner.os == 'Linux' }}
        name: "[Linux] Disable initramfs and man-db update"
        continue-on-error: true
        run: |
          sudo mkdir -p /etc/initramfs-tools/
          echo -e 'update_initramfs=no\nbackup_initramfs=no' | sudo tee /etc/initramfs-tools/update-initramfs.conf
          sudo rm -f /var/lib/man-db/auto-update

      - if: ${{ runner.os == 'Linux'  }}
        name: "[Linux] Install platform dependencies"
        uses: awalsh128/cache-apt-pkgs-action@a6c3917cc929dd0345bfb2d3feaf9101823370ad
        with: { packages: "${{env.APT_DEPS}}" }

      - if: ${{ runner.os == 'macOS' }}
        name: "[macOS] Install platform dependencies"
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd
        with: { xcode-version: "latest-stable" }

      - if: ${{ runner.os == 'Linux' }}
        name: "[Linux] Install UPX"
        uses: crazy-max/ghaction-upx@de21b8cbed76979407eeb6e41aa5e270afc3225c
        with: { install-only: true }

      - name: Install Just
        uses: taiki-e/install-action@638d0bf357cd5e20410163cdf70545caa82bfa5f
        with: { tool: just@1.36.0 }

      # Rust
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@21dc36fb71dd22e3317045c0c31a3f4249868b17
        with:
          targets: ${{ runner.os == 'macOS' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Setup Cargo cache
        uses: swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab
        with: { prefix-key: "cargo-${{ matrix.platform.rust_target }}" }
      # /Rust

      # Bun
      - uses: oven-sh/setup-bun@v2
        with: { bun-version: latest }

      - # node_modules is not cached on Windows as it breaks subsequent runs
        if: ${{ runner.os != 'Windows' }}
        name: Cache node_modules
        uses: actions/cache@v4
        with:
          key: node_modules-${{ runner.os }}-${{ hashFiles('**/bun.lock', '**/package.json') }}
          restore-keys: node_modules-${{ runner.os }}
          path: ${{github.workspace}}/node_modules

      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          key: bundeps-${{ runner.os }}-${{ hashFiles('**/bun.lock', '**/package.json') }}
          restore-keys: bundeps-${{ runner.os }}
          path: ~/.bun

      - name: Install Bun dependencies
        run: just deps-ts
      # /Bun

      - name: Cache Memos builds
        uses: actions/cache@v4
        with:
          key: memosbuilds-cross-${{ env.LATEST_MEMOS_VERSION }}-${{ env.CACHE_KEY }}
          restore-keys: memosbuilds-cross
          enableCrossOsArchive: true
          path: ./server-dist

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@8c3e0753aa015d00d03631d6d4f64ad59489251d
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          tagName: v__VERSION__
          releaseName: "v__VERSION__"
          releaseBody: |
            > [!TIP]
            > Bundled Memos version: **${{ env.LATEST_MEMOS_VERSION }}**

            See the assets section below to download the app.

            - Windows `exe`: per-user install (recommended).
            - Windows `msi`: per-machine install.
          releaseDraft: true
          prerelease: false
          args: --target ${{ matrix.platform.rust_target }}
          includeUpdaterJson: true
          updaterJsonPreferNsis: true
