name: Check (Rust)
on:
  merge_group:
  pull_request:
    paths:
      - "**/*.rs"
      - "**/Cargo.lock"
      - "**/Cargo.toml"
      - "**/check-rust.yml"
      - "**/Tauri.toml"
  push:
    paths:
      - "**/*.rs"
      - "**/Cargo.lock"
      - "**/Cargo.toml"
      - "**/check-rust.yml"
      - "**/Tauri.toml"
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  CACHE_KEY: NOT_SET
  CARGO_INCREMENTAL: 1
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GLIBC_VERSION: NOT_SET
  RUST_BACKTRACE: full
  RUST_TOOLCHAIN: stable
  RUSTFLAGS: -Copt-level=1 -Cstrip=symbols -Ccodegen-units=256
  APT_DEPS: >-
    build-essential
    curl
    file
    patchelf
    wget
    libayatana-appindicator3-dev
    libgtk-3-dev
    librsvg2-dev
    libssl-dev
    libwebkit2gtk-4.1-dev
    libxdo-dev

jobs:
  fmt:
    name: Check Rust code formatting
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with: { toolchain: "${{ env.RUST_TOOLCHAIN }}", components: rustfmt }

      - name: Run rustfmt
        run: cargo fmt --all -- --check

  machete:
    name: Check for unused dependencies
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with: { toolchain: "${{ env.RUST_TOOLCHAIN }}" }

      - name: Install cargo-machete
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb
        with: { tool: "cargo-machete@0.9.1" }

      - name: Run cargo-machete
        run: cargo machete

  lint-and-test:
    name: Rust lint and test
    permissions: { actions: read, contents: read, security-events: write }
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { runner: macos-15, rust_target: aarch64-apple-darwin }
          - { runner: macos-15-intel, rust_target: x86_64-apple-darwin }
          - { runner: ubuntu-22.04, rust_target: x86_64-unknown-linux-gnu }
          - { runner: windows-2022, rust_target: aarch64-pc-windows-msvc }
          - { runner: windows-2022, rust_target: x86_64-pc-windows-msvc }

    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Checkout repository,
        uses: actions/checkout@v5

      - name: "Set env vars"
        shell: bash
        run: |
          echo "CACHE_KEY=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "GLIBC_VERSION=$(ldd --version | head -n 1 | awk '{print $NF}')" >> $GITHUB_ENV

      - if: ${{ runner.os == 'Linux' }}
        name: "[Linux] Disable initramfs and man-db update"
        continue-on-error: true
        run: |
          sudo mkdir -p /etc/initramfs-tools/
          echo -e 'update_initramfs=no\nbackup_initramfs=no' | sudo tee /etc/initramfs-tools/update-initramfs.conf
          sudo rm -f /var/lib/man-db/auto-update

      # Platform deps
      - if: ${{ runner.os == 'Linux'  }}
        name: "[Linux] Install platform dependencies"
        uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05
        with: { packages: "${{env.APT_DEPS}}" }

      - if: ${{ runner.os == 'macOS' }}
        name: "[macOS] Install platform dependencies"
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd
        with: { xcode-version: latest-stable }
      # /Platform deps

      # Rust
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Setup Cargo cache
        uses: swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
        with:
          prefix-key: cargo
          key: ${{ env.GLIBC_VERSION }}
      # /Rust

      # Clippy with SARIF output
      - if: ${{ github.event_name == 'pull_request' }}
        name: "Install sarif-fmt and clippy-sarif"
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb
        with: { tool: "clippy-sarif@0.8.0, sarif-fmt@0.8.0" }

      # Clippy with SARIF output
      - if: ${{ github.event_name == 'pull_request' }}
        name: "[PR] Run clippy with SARIF output"
        shell: bash
        run: |
          cargo clippy --all-features --all-targets --workspace --locked --message-format=json | clippy-sarif | tee clippy-results.sarif
          cat clippy-results.sarif | sarif-fmt --color always

      - if: ${{ github.event_name == 'pull_request' }}
        name: "[PR] Upload SARIF analysis results to GitHub"
        uses: github/codeql-action/upload-sarif@v4
        continue-on-error: true
        with: { sarif_file: ./clippy-results.sarif, wait-for-processing: true }
      # /Clippy with SARIF output

      - if: ${{ github.event_name != 'pull_request' }}
        name: Run clippy with standard output
        run: cargo clippy --all-features --all-targets --workspace --locked

      - name: Run all Rust tests
        run: cargo test --workspace --lib -- --nocapture
