name: Check (formatting)

on:
  merge_group:
  pull_request:
    paths-ignore:
      - "**/.idea/*"
      - "**/gen/schemas/*.json"
      - "**/*.{icns,ico,png,svg,webp}"
      - "**/*.{dll,nsi,nsh,wxs,xml}"
      - "**/*.{lock,lockb}"
      - "**/justfile"
  push:
    paths-ignore:
      - "**/.idea/*"
      - "**/gen/schemas/*.json"
      - "**/*.{icns,ico,png,svg,webp}"
      - "**/*.{dll,nsi,nsh,wxs,xml}"
      - "**/*.{lock,lockb}"
      - "**/justfile"
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  DPRINT_CACHE_DIR: ${{github.workspace}}/.dprint
  RUST_TOOLCHAIN: stable

jobs:
  dprint:
    name: Check formatting with dprint
    runs-on: ubuntu-latest
    steps:
      - name: Ensure LF line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup rustfmt
        uses: dtolnay/rust-toolchain@21dc36fb71dd22e3317045c0c31a3f4249868b17
        with: { toolchain: "${{ env.RUST_TOOLCHAIN }}", components: rustfmt }

      - name: Install dprint
        uses: jaxxstorm/action-install-gh-release@71d17cb091aa850acb2a1a4cf87258d183eb941b
        with:
          repo: dprint/dprint
          tag: 0.47.5
          cache: enable

      - name: Cache dprint plugins
        uses: actions/cache@v4
        with:
          path: ${{ env.DPRINT_CACHE_DIR }}
          key: cache-dprint-plugins-${{ hashFiles('**/.dprint.jsonc','.dprint/plugin-cache-manifest.json') }}
          restore-keys: cache-dprint-plugins

      - run: dprint check
