name: Check (formatting)

on:
  merge_group:
  pull_request:
    paths-ignore:
      - "**/gen/schemas/*.json"
      - "**/*.{icns,ico,png,svg,webp}"
      - "**/*.{dll,nsi,nsh,wxs,xml}"
      - "**/*.lock"
      - "**/justfile"
  push:
    paths-ignore:
      - "**/gen/schemas/*.json"
      - "**/*.{icns,ico,png,svg,webp}"
      - "**/*.{dll,nsi,nsh,wxs,xml}"
      - "**/*.lock"
      - "**/justfile"
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  DPRINT_CACHE_DIR: ${{github.workspace}}/.dprint
  RUST_TOOLCHAIN: stable

jobs:
  dprint:
    name: Check formatting with dprint
    runs-on: ubuntu-latest
    steps:
      - name: Ensure LF line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup rustfmt
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with: { toolchain: "${{ env.RUST_TOOLCHAIN }}", components: rustfmt }

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with: { bun-version: latest }

      - name: Cache Bun dependencies
        uses: actions/cache@v5
        with:
          key: bundeps-${{ runner.os }}-${{ hashFiles('**/bun.lock', '**/package.json') }}
          restore-keys: bundeps-${{ runner.os }}
          path: ~/.bun

      - name: Install dprint
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2
        with:
          repo: dprint/dprint
          tag: 0.50.2
          cache: enable

      - name: Cache dprint plugins
        uses: actions/cache@v5
        with:
          path: ${{ env.DPRINT_CACHE_DIR }}
          key: cache-dprint-plugins-${{ hashFiles('**/.dprint.jsonc','.dprint/plugin-cache-manifest.json') }}
          restore-keys: cache-dprint-plugins

      - run: dprint check
